<!DOCTYPE html>
<html>
<head>
<title>Attendance</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<!-- Sidebar -->
<div class="sidebar">
<h2>HRM</h2>
<a href="/">Dashboard</a>
<a href="/employees">Employees</a>
<a href="/leave">Leave</a>
<a href="/attendance">Attendance</a>
<a href="/logout">Logout</a>
</div>

<!-- Main Content -->
<div class="main">

<div class="glass">
<h2>Attendance</h2>

<form method="POST" action="/mark_attendance">
    <input type="number" name="emp_id" placeholder="Employee ID" required>

    <select name="status">
        <option>Present</option>
        <option>Absent</option>
    </select>

    <button type="submit">Mark Attendance</button>
</form>

<br>

<table border="1" width="100%">
    <tr>
        <th>ID</th>
        <th>Employee ID</th>
        <th>Status</th>
    </tr>

    {% for r in records %}
    <tr>
        <td>{{ r.id }}</td>
        <td>{{ r.employee_id }}</td>
        <td>{{ r.status }}</td>
    </tr>
    {% endfor %}
</table>
</div>

</div>

</body>
</html>