<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="/static/css/style.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js " width="20" height="10"></script>
</head>

<body>

<div class="sidebar">
 <h2>HRM</h2>
<a href="/">Dashboard</a>
<a href="/employees">Employees</a>
<a href="/leave">Leave</a>
<a href="/attendance">Attendance</a>
<a href="/hire">Hire Employee</a>
<a href="/hiring-process">Hiring Process</a>
<a href="/logout" style="color:red;">Logout</a>
</div>

<div class="main">

    <div class="glass">
        <h1>Dashboard</h1>
        <p>Total: <span id="total"></span></p>
        <p>Present: <span id="present"></span></p>
        <p>Leave: <span id="leave"></span></p>
    </div>

    <span>Welcome {{ session['user'] }}</span>
    <h3>Welcome to HRM System</h3>

    <div class="chart-box">
        <canvas id="chart"></canvas>
    </div>

</div>

<script src="/static/js/script.js"></script>
</body>
</html>