<html>
    <head>
        <title>LOGIN PAGE</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body style="justify-content:center; align-items:center;">
        <div class="glass">
<h2>Login</h2>
<form method="POST">
 <!-- Username (TOP) -->
        <input type="text" name="username" placeholder="Username" required
        style="padding:10px; margin-bottom:15px; border:none; border-radius:5px;">
        <br>
        <br>
        <!-- Password (BOTTOM) -->
        <input type="password" name="password" placeholder="Password" required
        style="padding:10px; margin-bottom:20px; border:none; border-radius:5px;">
        <br>
        <br>
        <!-- Button -->
        <button type="submit"
        style="padding:10px; background:#4CAF50; border:none; color:white; border-radius:5px; cursor:pointer;">
        Login
        </button>
</form>
</div>
    </body>
</html>